  #wrapper {
    position: absolute;
    perspective: 1500px;
    z-index: 1;
    top: 50px;
    left: 300px;
  }
  
  .box-area {
    position: relative;
    transform-style: preserve-3d;
    animation-name: rotate;
    animation-duration: 40s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    -webkit-animation-name: rotate;
    -webkit-animation-duration: 40s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-name: rotate;
    -moz-animation-duration: 40s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
  }
  
  @keyframes rotate {
      0% { transform: rotate3d(0, 0, 0, 0deg);}
      50% {
          transform: rotate3d(0, 1, 0, 180deg);
        }
      100% { transform: rotate3d(0, 1, 0, 360deg);}
  }
  @-webkit-keyframes rotate {
      0% { transform: rotate3d(0, 0, 0, 0deg);}
      50% {
          transform: rotate3d(0, 1, 0, 180deg);
        }
      100% { transform: rotate3d(0, 1, 0, 360deg);}
  }
  @-moz-keyframes rotate {
      0% { transform: rotate3d(0, 0, 0, 0deg);}
      50% {
          transform: rotate3d(0, 1, 0, 180deg);
        }
      100% { transform: rotate3d(0, 1, 0, 360deg);}
  }
  .box {
    position: absolute;
    width: 400px;
    height: 400px;
  }
  .box img {
    width: 395px;
    height: 395px;
  }
  #box-front {
    -webkit-transform: translateX(-200px) translateY(-200px) translateZ(200px);
    -moz-transform: translateX(-200px) translateY(-200px) translateZ(200px);
    transform: translateX(-200px) translateY(-200px) translateZ(200px);
    background-color: #050416;
    border: 2px solid #050416;
  }
  #box-back {
    -webkit-transform: translateX(-200px) translateY(-200px) translateZ(-200px);
    -moz-transform: translateX(-200px) translateY(-200px) translateZ(-200px);
    transform: translateX(-200px) translateY(-200px) translateZ(-200px);
    background-color: #050416;
    border: 2px solid #050416;
  }
  #box-right {
    -webkit-transform: translateY(-200px) rotateY(90deg);
    -moz-transform: translateY(-200px) rotateY(90deg);
    transform: translateY(-200px) rotateY(90deg);
    background-color: #050416;
    border: 2px solid #050416;
  }
  #box-left {
    -webkit-transform: translateY(-200px) translateX(-400px) rotateY(90deg);
    -moz-transform: translateY(-200px) translateX(-400px) rotateY(90deg);
    transform: translateY(-200px) translateX(-400px) rotateY(90deg);
    background-color: #050416;
    border: 2px solid #050416;
  }
  #box-top {
    -webkit-transform: translateX(-200px) translateY(-200px) rotateX(90deg);
    -moz-transform: translateX(-200px) translateY(-200px) rotateX(90deg);
    transform: translateX(-200px) translateY(-200px) rotateX(90deg);
    background-color: #050416;
    border: 2px solid #050416;
  }     
  #box-bottom {
    -webkit-transform: translateX(-200px) rotateX(90deg);
    -moz-transform: translateX(-200px) rotateX(90deg);
    transform: translateX(-200px) rotateX(90deg);
    background-color: #050416;
    border: 2px solid #050416;
  }
  .box-area {
      -webkit-transform: rotateX(90deg) rotateY(90deg);
      -moz-transform: rotateX(90deg) rotateY(90deg);
      transform: rotateX(90deg) rotateY(90deg)
  }
  .flip{
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    transform: scaleX(-1);
  }

  @media (max-width: 768px) {
    #wrapper {
      display: none;
    }
  }